* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.navbar {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    background-color: #FCFCFC;
    color: white;
    min-height: 88px;
}

.navbar__brand{
    margin: 24px 0 24px 50px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-decoration: none;
}

.navbar__brand-title{
    color: gray;
    font-weight: 600;
    font-size: 25px;
    color: #5D6475;
    margin-left: 15px;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.colored{
    color: #479D83;
}

.navbar__link {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
}

.navbar__link-selected{
    opacity: 0.6;
}

.navbar__links{
    display: flex;
    gap: 30px;
    margin-right: 25px;
}
.navbar__link:hover{
    opacity: 0.7;
}
.main-text{
    font-weight: 500;
    font-size: 16px;
    color: black;
    line-height: 26px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25))
}

.secondary-text{
    font-weight: 400;
    font-size: 10px;
    color: gray;
    line-height: 16px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25))
}

.navbar__buttons{
    margin-right: 50px;
}
.navbar__buttons button{
    cursor: pointer;
}
.navbar__signUp{
    background-color: #479D83;
    padding: 9px 22px;
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
    color: white;
    border: 0;
    border-radius: 10px;
}
.navbar__signUp:hover{
    background-color: #3c816a;
}

.navbar__logIn{
    background-color: transparent;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    border: 0;
    padding: 9px 22px;
    border-radius: 10px;
    color: #479D83;
}
.navbar__logIn:hover{
    color: #3c816a;;
}

.navbar__toggle-button {
    position: absolute;
    top: 44px;
    transform: translate(0, -50%);
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    background: transparent;
    border: none;
    width: 40px;
    height: 21px;
    cursor: pointer;
}

.navbar__toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: #479D83;
    border-radius: 10px;
}

@media (max-width: 1100px) {
    .navbar {
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }

    .navbar__toggle-button {
        display: flex;
    }

    .navbar__links, .navbar__buttons {
        display: none;
    }
    .navbar__buttons{
        margin: 0;
    }
    .navbar__brand{
        margin-bottom: 0;
        margin-left: 0;
    }

    .navbar__links ul {
        flex-direction: column;
    }

    .navbar__links ul li {
        text-align: center;
    }

    .navbar__links ul li a {
        padding: .5rem 1rem;
    }

    .navbar__links.active, .navbar__buttons.active {
        display: flex;
    }
    .navbar__buttons.active{
        margin-bottom: 20px;
    }
}