@font-face {
  font-family: 'Golos';
  src: local('Golos'), url(./fonts/Golos-Text_Bold.woff) format('woff');
}

@font-face {
  font-family: 'Golos';
  src: local('Golos'), url(./fonts/Golos-Text_Regular.woff) format('woff');
}

@font-face {
  font-family: 'Golos';
  src: local('Golos'), url(./fonts/Golos-Text_DemiBold.woff) format('woff');
}

@font-face {
  font-family: 'Golos';
  src: local('Golos'), url(./fonts/Golos-Text_Medium.woff) format('woff');
}

body {
  margin: 0;
  font-family: Golos, Arial, serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
